html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    font-family: 'JetBrains Mono regular', monospace;
    overflow-x: hidden;
}

:root {
    --black: #000000;
    --white: #e8e8e8;
    --blue: #3300ff;
    --font-size-titel: 2rem;
    --font-size-lauftext: 1rem;
}

body {
    line-height: 1.6;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1.title {
    font-size: var(--font-size-titel);
    color: var(--blue);
}

.upload-container {
    margin-top: 20px;
}

input[type="file"], select, button {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--blue);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size-lauftext);
}

button:hover {
    background-color: var(--grey);
}

#live-preview {
    font-family: 'JetBrains Mono regular', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.8rem;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--blue);
    max-height: 300px;
    overflow-y: auto;
}

.potentiometers {
    margin-top: 20px;
}

.potentiometers input[type="range"] {
    width: 100%;
    margin-top: 5px;
}

#ascii-output {
    background-color: var(--black);
    color: var(--white);
    font-family: 'JetBrains Mono regular', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--blue);
    font-size: 0.8rem;
    max-height: 400px;
    overflow-y: auto;
}
